@import 'bootstrap/dist/css/bootstrap.min.css';
.gradient-text {
  display: inline-block;
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
